<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prova LiveU</title>
    <link  rel="stylesheet" href="styles/main.css">
    
</head>

<body>
    <h2>Formulário 2</h2>

    <form action="/result" method="POST">
        <div>
            <label for="nome">Nome: </label>
            <input id="nome" name="nome" required type="text" maxlength="50">
        </div>
        <br>
        <br>

        <div>
            <label for="sobrenome">Sobrenome: </label>
            <input id="sobrenome" name="sobrenome" required type="text" maxlength="50">
        </div>


        <br>
        <br>

        <div>
            <label for="email">E-mail: </label>
            <input id="email" name="email" required type="email" maxlength="50">
        </div>

        <br>
        <br>

        <button type="submit">Enviar</button>


    </form>




</body>

</html>